fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-ollama
langgraph
chromadb
rank_bm25
langchain-google-genai
pydantic
pydantic-settings
ragas
presidio-analyzer
pdfplumber
pandas
pypdf
langchain-chroma
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pydrive2
